@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* Blanco */
    --foreground: 0 0% 10%;  /* Negro suave */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 200 100% 60%; /* Celeste bandera */
    --primary-foreground: 0 0% 100%;
    --secondary: 50 100% 55%; /* Amarillo bandera */
    --secondary-foreground: 0 0% 10%;
    --muted: 200 100% 92%;
    --muted-foreground: 0 0% 30%;
    --accent: 50 100% 75%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 85% 60%; /* Rojo estándar */
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 89.8%;
    --ring: 200 100% 60%; /* Azul para enfocar */
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 200 100% 70%;
    --primary-foreground: 0 0% 10%;
    --secondary: 50 100% 65%;
    --secondary-foreground: 0 0% 10%;
    --muted: 200 100% 20%;
    --muted-foreground: 0 0% 80%;
    --accent: 50 100% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 85% 40%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 200 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose {
  @apply text-foreground;
  max-width: 65ch;
}

.prose p {
  @apply mb-4 leading-7;
}

.prose ul {
  @apply my-6 ml-6 list-disc [&>li]:mt-2;
}

@layer components {
  .filter-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary) / 0.3) transparent;
  }

  .filter-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .filter-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .filter-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary) / 0.3);
    border-radius: 20px;
  }

  .filter-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary) / 0.5);
  }
}
